.container {
  margin-top: 5.25em;
  margin-bottom: 84px;
}

@media (max-width: 575.98px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .container {
    margin-top: 124px;
  }
}
